name: Handyman Development Release

on: workflow_dispatch

jobs: 
  build: 
    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v1
        - name: Install doctl 
          uses: digitalocean/action-doctl@v2
          with:
            token: ${{ secrets.DNY_TOKEN }}
        - name: Login To Registry
          run: doctl registry login
        - name: Build the latest Docker image
          run: docker build . --file Dockerfile --tag registry.digitalocean.com/handyman-docker-registry/dev/handyman-api:latest
        - name: Push the latest Docker image
          run: docker push registry.digitalocean.com/handyman-docker-registry/dev/handyman-api:latest
        - name: Save DigitalOcean kubeconfig with short-lived credentials
          run: doctl kubernetes cluster kubeconfig save --expiry-seconds 600 kubernetes-handyman-dev
        - name: Deploy to DigitalOcean Kubernetes
          run: kubectl rollout restart deployment handyman-api
        - name: Verify deployment
          run: kubectl rollout status  deployment handyman-api
          
